body {
    background-color: #CCB;
}

.hide {
  display: none;
}

.alert {
    width: 75%;
    margin: auto;
}

.perms {
    border: 1px solid brown;
    margin: 20px;
    padding: 5px;
}

.navbar-custom  {
    background-color: #000080;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: white;
}

.nav-link{
    color: white;
}

.version {
    font-size: 8px;
    font-style: italic;
}
