body {
    background-color: #CCB;
}

.hide {
  display: none;
}

.alert {
    width: 75%;
    margin: auto;
}

.perms {
    border: 1px solid brown;
    margin: 20px;
    padding: 5px;
}

.navbar-custom  {
    background-color: #000080;
    padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: white;
    margin-left: 10px;
}

.nav-link{
    color: white;
}

.version {
    display: block;
    font-size: 8px;
    font-style: italic;
    color: white;
    text-align: right;
}

.active {
    background-color: #ACC;
}

.brandicon {
    width:46px;
}

/* Content Sections */
.welcome, .explorer-header{
    padding: 20px;
    font-size: 125%;
    font-family: serif;
}

.explorer-content-header {
    margin-bottom: 2px;
    margin-left: 0px;
}

.explorer{
    margin-left : 40px;
}

.viewer {
    background-color: #CC9;
    padding: 5px;
    margin: 20px;
}

section {
    border: 2px solid darkblue;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
